.kanban__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.kanban__top-key {
  margin-top: 10px !important;
  font-size: 20px !important;
  color: #9c27b0;
  font-weight: bold !important;
}
