.project-settings__members {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;

  form {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  button {
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #4600ff;
    margin: 0 0 0 15px;
    padding: 0;

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      bottom: 0;
      background-color: #4600ff;
      left: 0;
      transition: all ease-in-out 0.2s;
      opacity: 0;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }
}
.members__lead-title {
  font-size: 16px;
}
.members__wrapper {
  display: flex;
  flex-direction: column;
  min-width: 436px;
  max-width: 436px;
}
